@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
*{font-family: 'Source Sans Pro', sans-serif;}

/*CSS variables section*/
:root {
    background-color: rgba(0, 0, 21, 1);
}
.text-container {
    color: black;
}
h1{
    background: linear-gradient(to right, #ff6b08, #fc00ff,
    #00C9FF, #92FE9D);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}
/*Extra Large screens - Extra large desktops*/
.heeder-large-screen{
    display: flex !important;
    justify-content: space-evenly !important;
    color: white;
    font-size: 18px !important;
}
#navDemo{
    background-color: #000015;
}
#navDemo a{
    font-size: 13px !important;
    color:rgb(16, 91, 220);
}

/* Style for the small light bulb */
.lightbulb {
    position: relative;
    display: inline-block;
    font-size: 20px;
    /*color: #fff; /* Set the color to white */
    margin-right: 10px; /* Adjust the spacing between the lightbulb and the menu items */
    margin-top: 10px;
}

.lightbulb::before {
    content: "\1F4A1"; /* Unicode symbol for lightbulb (U+1F4A1) */
}
/* Create the moving animation on hover */
.lightbulb:hover {
    /* Add the animation properties */
    transition: transform 0.5s ease-in-out;
    animation: moveLightbulb 1s infinite;
}
/* Keyframes for the animation */
@keyframes moveLightbulb {
    0% {
        transform: translateY(0); /* Start position */
    }
    50% {
        transform: translateY(-10px); /* Middle position - move up */
    }
    100% {
        transform: translateY(0); /* End position - return to the original position */
    }
}

.hero{
    height: 650px;
    background-image: url("assets/nyc.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
   /* background-color: #000015;*/
}
.hero-description{
    height: 650px;
    background-color: rgba(0, 0, 21, .3);
    display: flex;
}
.hero-text{
    width:70% !important;
    margin: auto !important;
    display: flex;
    flex-wrap: wrap; 
}
.hero-title{
    padding-top:465px;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 80px;
    color:orange;
    text-align: center;
}
.end{
    height: 400px;
    background-image: url("assets/end.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;  
    /*display: flex;
    flex-direction: column;*/
}
.photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
  }
.photo-gallery img {
    width: 100%;
    height: auto;
}
.empty-div {
    /* Adjust the height of the empty div as needed */
    height: 90%;
}
.image-container {
    text-align: center;
    width: 100%;
  }
main{
    width:80% !important;
    margin: auto !important;
}
.title{
    color:white;
    font-weight: 600;
    font-size: 40px;;
    margin:50px 0px;
    text-align: center;
    text-transform: uppercase; 
}
p{
    font-size: 18px;
}
h3{
    color:white;
    text-align: center;
}
h2{
    color:white;
    text-align: center;
}
h7{
    opacity: 0.8;
    color: white;
}
h8{
    opacity: 0.8; 
    color: white;
    text-align: center;
}
.visualization{
    text-align: center;
}
.visualization-list{
    width: 100%;
    height: 660px;
    margin: 20px;
    overflow: hidden;
    border-top: none;
      -webkit-box-shadow: 0 8px 40px 0 rgba(45, 57, 231, 0.37);
              box-shadow: 0 8px 40px 0 rgba(45, 57, 231, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-bottom: 1px solid #6004f4;
    color:white;
    
}/* blueviolet margin: 20px; width:100%;*/
.visualization-list1{
    height: 750px;
    width:100%;
    overflow: hidden;
    border-top: none;
      -webkit-box-shadow: 0 8px 40px 0 rgba(229, 229, 229, 0.37);
              box-shadow: 0 8px 40px 0 rgba(229, 229, 229, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-bottom: 1px solid #9f9f9f;
    text-align: right;
}
.visualization-list2{
    height: 700px;
    width:100%;
    overflow: hidden;
    border-top: none;
      -webkit-box-shadow: 0 8px 40px 0 rgba(229, 229, 229, 0.37);
              box-shadow: 0 8px 40px 0 rgba(229, 229, 229, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-bottom: 1px solid #e5e5e5; 
}
h4{
    color:white;
    font-weight: 700;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contact-list{
    margin-top: 15px !important;
    color: white;
}
h5{
    color:white;
}
span{
    padding-right: 10px;
}

/*General CSS and CSS reset*/

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

aside {
    display: -webkit-flex;
    display: flex;
  }


/* ____________________________________________________________________*/
/*MEDIA QUERIES*/
  
/* Media query for 4K screen or extra large displays */
@media (min-width: 3840px) {
    /* Adjust margins, padding, and layout for large screens */
    body {
      margin: 2rem;
    }
    /* Use high-resolution images for 4K displays */
    img {
      max-width: 100%;
      height: auto;
    }
    .header{
        font-size: 30px;
    }
    .hero{
        height: 1500px !important;
        background-image: url("assets/nyc.jpeg");
    }
    .hero-description{
        height: 1500px
    }
    .hero-title{
        font-size:100px;
        padding-top: 850px;
    }
    .visualization-list{
        height: 1800px;
        width: 100%;
    }
    .visualization-list1{
        height: 1800px;
        width: 100%;
    }
    .end{
        height: 1200px;
    }
    /* Increase font size for large screens */
    p{
        font-size:40px;
    }
    h1{
        font-size:60px;
    }
    h2{
        font-size:52px;
    }
    h3{
        font-size:44px;
    }
    h4{
        font-size:40px;
    }
    h5{
        font-size:36px;
    }
    h6{
        font-size:26px;
    }
    h7{
        font-size:22px;
    }
  }
/*Large screens - Desktop*/
@media screen and (max-width: 1500px) {
    .hero{
        height: 550px !important;
        background-image: url("assets/nyc.jpeg");
    }
    .hero-description{
        height: 550px;
    }
    .hero-title{
        font-size:50px;
        padding-top: 400px;
    }
}

/*medium screens - Laptops*/
@media screen and (max-width: 1024px) {
    main{
        width:100% !important;
        margin: auto !important;
    }    
}

/*Small screens - tablets*/
@media screen and (max-width: 768px) {
    .heeder-large-screen{
        display:block !important;
    }
    header a{
        font-size: 14px;
    }
    .hero{
        height: 400px !important;
        background-image: url("assets/nyc.jpeg");
    }
    .hero-description{
        height: 400px;
        background-color: rgba(0, 0, 21, .3);
    }
    .hero-title{
        font-size: 35px;;     
    }
    .title{
        text-align: center;
        font-size: 30px;
    }
    .contact-list{
        width: 300px;
    }
    .contact{
        justify-content: space-around;
    }
    .contact-list p{
        font-size: 14px ;
    }
    h5{
        font-size: 17px;
    }
}

/*Extra small screens - phones*/
@media screen and (max-width: 480px) {
    .heeder-large-screen{
        display:block !important;
    }
    .hero{
        height: 450px !important;
        background-image: url("assets/nyc.jpeg");
    }
    .hero-description{
        height: 450px;
        background-color: rgba(0, 0, 21, .3);
    
    }
    .hero-title{
        font-size: 30px;;
        padding-top: 70px;
    }
    .hero-text p{
        width: 100%;;
        font-size: 13px;
    }
    .title{
        text-align: center;
        font-size: 25px;
    }
    .contact-list{
        width: 300px;
        padding:25px;
        border:1px solid rgba(49, 45, 45, 0.3);
        border-radius: 10px;
    }
    .contact-list p{
        font-size: 12px ;
    }
    h5{
        font-size: 15px;
    }
    p{
        font-size: 12px;
    }
}